@model Boekingssysteem.ViewModels.GebruikerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>@Model.Naam</h1>

<p> Naam: @Model.Naam</p>
<p> Voornaam: @Model.Voornaam</p>
<p> Personeelnummer: @Model.Personeelnummer</p>

@Html.ActionLink("Terug", "Index", "Gebruiker")