@model Boekingssysteem.ViewModels.GebruikerListViewModel
@{
    ViewData["Title"] = "Index";
}

<h2> Gebruikers</h2>
<p>
    <a asp-action="Create" class="btn btn-primary btn-lg mb-2">Admin toevoegen</a>
</p>
<p>
    <a asp-action="GrantPermissions" class="btn btn-primary btn-lg mb-2">Rol veranderen</a>
</p>
<table>
    <tbody>
        @foreach (var gebruiker in Model.Gebruikers)
        {            
            <tr>
                <td class="col-md-4">
                        @Html.DisplayFor(modelitem => gebruiker.Naam)
                </td>
                <td class="col-md-4">
                        @Html.DisplayFor(modelitem => gebruiker.Voornaam)
                </td>
                <td class="col-md-4">
                        @Html.DisplayFor(modelitem => gebruiker.Personeelnummer)
                </td>
                <td class="col-md-4">
                    <a asp-action="Details" class="btn btn-primary btn-lg mb-2" asp-route-id="@gebruiker.Id">Admin details</a>
                    <a asp-action="Delete" class="btn btn-primary btn-lg mb-4" asp-route-id="@gebruiker.Id">Admin verwijderen</a>
                </td>
            </tr>                   
        }
    </tbody>
</table>
<a class="btn btn-primary btn-lg mb-2" asp-controller="Home" asp-action="AdminView">Terug</a>