@model Boekingssysteem.ViewModels.GebruikerListViewModel
@{
    ViewData["Title"] = "Index";
}

<p>   
    <a class="btn btn-primary btn-lg mb-2" id="register" asp-area="Identity" asp-page="/Account/RegisterAdmin">Gebruiker toevoegen</a>
</p>
<p>
    <a asp-action="GrantPermissions" class="btn btn-primary btn-lg mb-2">Rol veranderen</a>
</p>
<p>
    <a asp-controller="Persoon" asp-action="Aanpassen" class="btn btn-primary btn-lg mb-2" role="button">Gebruiker wijzigen</a>
</p>
<h2> Gebruikers</h2>
<table>
    <tbody>
        @foreach (var gebruiker in Model.Gebruikers)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelitem => gebruiker.Naam)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelitem => gebruiker.Voornaam)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelitem => gebruiker.Personeelnummer)
                </td>
                @foreach (var rol in Model.Roles)
                {
                    @if (rol.Personeelnummer == gebruiker.Personeelnummer)
                    {
                        @if (rol.Admin == true)
                        {
                            <td class="col-md-2">
                                <p>Admin</p>
                            </td>
                        }
                        else
                        {
                            <td class="col-md-2">
                                <p>User</p>
                            </td>
                        }
                    }
                }
                <td class="col-md-2">
                    <button type="button" class="btn btn-primary mb-3 mt-3" data-toggle="modal" data-target="#exampleModal-@gebruiker.Id">
                        Gebruiker verwijderen
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-@gebruiker.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Gebruiker verwijderen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">                                   
                                    <p>Ben je zeker dat je @gebruiker.Voornaam @gebruiker.Naam wil verwijderen?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@gebruiker.Id">Gebruiker verwijderen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-lg mb-2 mt-5" asp-controller="Home" asp-action="AdminView">Terug</a>